In [1]:
%pip install psycopg2

Requirement already satisfied: psycopg2 in ./opt/anaconda3/lib/python3.9/site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import psycopg2 as pg_driver

db = pg_driver.connect(
    database="postgres", 
    user='postgres',
    password='postgres', 
    host='localhost', 
    port='5432'
)

# Далее нам нужен курсор, который позволит нам непосредственно отправлять запросы на выполнения в БД. Эта строка всегда одинаковая
cur = db.cursor()
# Делаем запрос к таблице по умолчанию pg_database
cur.execute("select * from pg_database")

# Чтобы извлечь результат выполнения запроса к таблице по умолчанию, необходимо воспользоваться методом .fetchall()
rs = cur.fetchall()


# enumerate позволяет красиво пронумеровать строки
for row, values in enumerate(rs):
    print(row, values)

0 (14021, 'postgres', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', False, True, -1, 14020, '726', '1', 1663, None)
1 (16385, 'robert', 16384, 6, 'en_US.UTF-8', 'en_US.UTF-8', False, True, -1, 14020, '726', '1', 1663, None)
2 (1, 'template1', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', True, True, -1, 14020, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}')
3 (14020, 'template0', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', True, False, -1, 14020, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}')
4 (16386, 'dogsToDogs', 16384, 6, 'en_US.UTF-8', 'en_US.UTF-8', False, True, -1, 14020, '726', '1', 1663, None)

In [4]:
import psycopg2 as pg_driver

db = pg_driver.connect(user="postgres",
                       password="postgres",
                       host='localhost',
                       port='5432')


def execute_queries(db, sql_commands):
    db.autocommit = True
    with db.cursor() as cursor:
        for sql_command in sql_commands:
            print(sql_command)
            cursor.execute(sql_command)

sql_commands = ["CREATE DATABASE homeworkdb;",
                "CREATE USER markuser with encrypted password 'markuser';",
                "GRANT ALL PRIVILEGES ON DATABASE homeworkdb TO markuser;"]


# запускаем выполнение запросов
execute_queries(db, sql_commands)

CREATE DATABASE homeworkdb;
CREATE USER markuser with encrypted password 'markuser';
GRANT ALL PRIVILEGES ON DATABASE homeworkdb TO markuser;

In [46]:
import psycopg2 as pg_driver

db = pg_driver.connect(
                        database="homeworkdb", 
                        user='markuser',
                        password='markuser', 
                        host='localhost', 
                        port='5432'
                    )



def execute_queries(db, sql_commands):
    db.autocommit = True
    with db.cursor() as cursor:
        for sql_command in sql_commands:
            print(sql_command)
            cursor.execute(sql_command)


sql_commands = ["DROP TABLE IF EXISTS users;",
                "DROP TABLE IF EXISTS photos;",
                "DROP TABLE IF EXISTS comments;",
                "DROP TABLE IF EXISTS likes;",
                """CREATE TABLE users (
                         user_id    INT       NOT NULL,
                         name    TEXT       NOT NULL,
                         type    TEXT       NOT NULL
                         
                );
                """,
                """CREATE TABLE photos (
                         photo_id    INT       NOT NULL,
                         photo_name    TEXT       NOT NULL,
                         user_id    INT       NOT NULL,
                         type    TEXT       NOT NULL
                         
                  );
                """,
                """CREATE TABLE comments (
                         comment_id    INT       NOT NULL,
                         comment_text    TEXT       NOT NULL,
                         user_id    INT       NOT NULL,
                         photo_id    INT       NOT NULL,
                         type    TEXT       NOT NULL
                         
                );
                """,
                """CREATE TABLE likes (
                         user_from    INT       NOT NULL,
                         type       TEXT       NOT NULL,
                         type_id    INT       NOT NULL
                         
                );
                """]


execute_queries(db, sql_commands)

DROP TABLE IF EXISTS users;
DROP TABLE IF EXISTS photos;
DROP TABLE IF EXISTS comments;
DROP TABLE IF EXISTS likes;
CREATE TABLE users (
                         user_id    INT       NOT NULL,
                         name    TEXT       NOT NULL,
                         type    TEXT       NOT NULL

                );

CREATE TABLE photos (
                         photo_id    INT       NOT NULL,
                         photo_name    TEXT       NOT NULL,
                         user_id    INT       NOT NULL,
                         type    TEXT       NOT NULL

                  );

CREATE TABLE comments (
                         comment_id    INT       NOT NULL,
                         comment_text    TEXT       NOT NULL,
                         user_id    INT       NOT NULL,
                         photo_id    INT       NOT NULL,
                         type    TEXT       NOT NULL

                );

CREATE TABLE likes (
                         user_from    INT       NOT NULL,
                         type       TEXT       NOT NULL,
                         type_id    INT       NOT NULL

                );

In [48]:
import psycopg2
from psycopg2 import Error
from psycopg2.extras import NamedTupleCursor

def execute_query(query, fetch_result=False):
    try:
        connection = psycopg2.connect(
                                database="postgres", 
                                user='postgres',
                                password='rootroot', 
                                host='localhost', 
                                port='5432'
                     )
        connection.autocommit = True
        cursor = connection.cursor(cursor_factory=NamedTupleCursor)
        cursor.execute(query)
        if fetch_result:
            return cursor.fetchall()
    except (Exception, Error) as error:
        print("Error while connecting to PostgreSQL", error)
    finally:
        if (connection):
            cursor.close()
            connection.close()

In [49]:
import psycopg2
from psycopg2 import Error
from psycopg2.extras import NamedTupleCursor

def execute_query(query, fetch_result=False):
    try:
        connection = pg_driver.connect(
                        database="postgres", 
                        user='postgres',
                        password='rootroot', 
                        host='localhost', 
                        port='5432'
                    );
        
        connection.autocommit = True
        cursor = connection.cursor(cursor_factory=NamedTupleCursor)
        cursor.execute(query)
        if fetch_result:
            return cursor.fetchall()
    except (Exception, Error) as error:
        print("Error while connecting to PostgreSQL", error)
    finally:
        if (connection):
            cursor.close()
            connection.close()
row_count_hist = execute_query("select count(*) from users", fetch_result=True)
row_count_payment = execute_query("select count(*) from likes", fetch_result=True)

print(row_count_hist)
print(row_count_payment)

[Record(count=25)]
[Record(count=25)]

In [43]:
query = """ INSERT INTO users (user_id, name, type) 
            VALUES 
                 (1, 'Mark', 'person'),
                 (2, 'Dima', 'person'),
                 (3, 'Phill', 'person'),
                 (4, 'Viktor', 'person'),
                 (5, 'Ivan', 'person')
            
        """

execute_query(query)


query = """ INSERT INTO photos (photo_id, photo_name, user_id, type) 
            VALUES 
                 (1, 'Photo1', 1, 'photo'),
                 (2, 'Photo2', 2, 'photo'),
                 (3, 'Photo3', 3, 'photo'),
                 (4, 'Photo4', 4, 'photo'),
                 (5, 'Photo5', 5, 'photo')
            
        """

execute_query(query)


query = """ INSERT INTO comments (comment_id, comment_text, user_id, photo_id, type) 
            VALUES 
                 (1, 'First Comment', 1, 1, 'comment'),
                 (2, 'Second Comment', 2, 2, 'comment'),
                 (3, 'Third Comment', 3, 3, 'comment'),
                 (4, 'Fourth Comment', 4, 4, 'comment'),
                 (5, 'Fifth Comment', 5, 5, 'comment')
            
        """

execute_query(query)


query = """ INSERT INTO likes (user_from, type, type_id) 
            VALUES 
                 (1, 'person', 3),
                 (2, 'photo', 3),
                 (3, 'comment', 2),
                 (4, 'photo', 1 ),
                 (5, 'person', 4)
            
        """

execute_query(query)

In [50]:
all_rows = execute_query("select user_from, count(*) from likes where type='comment' group by user_from", fetch_result=True)
for row, value in enumerate(all_rows):
    print(row, value)

0 Record(user_from=3, count=5)

In [51]:
all_rows = execute_query("select user_from, count(*) from likes where type='photo' group by user_from", fetch_result=True)
for row, value in enumerate(all_rows):
    print(row, value)

0 Record(user_from=2, count=5)
1 Record(user_from=4, count=5)

In [52]:
all_rows = execute_query("select user_from, count(*) from likes where type='person' group by user_from", fetch_result=True)
for row, value in enumerate(all_rows):
    print(row, value)

0 Record(user_from=1, count=5)
1 Record(user_from=5, count=5)

In [64]:
query = """select
                l.user_from,
                u.name,
                count(*) as like_count
                
           from likes l
           left join users u
           on l.user_from=u.user_id
           group by l.user_from, u.name
           
        """
all_rows = execute_query(query, fetch_result=True)
for row, value in enumerate(all_rows):
    print(row, value)

0 Record(user_from=4, name='Viktor', like_count=25)
1 Record(user_from=1, name='Mark', like_count=25)
2 Record(user_from=3, name='Phill', like_count=25)
3 Record(user_from=2, name='Dima', like_count=25)
4 Record(user_from=5, name='Ivan', like_count=25)